<div class="container">
  <div class="hero-unit">
    <h1>I'm Steve!</h1>
    I came from: <%= @sender %><br>
    <%= link_to "About", static_pages_about_path %> |
    <%= link_to "Contact", static_pages_contact_path %>
  </div>
</div>